$color-1 : #cdb4db ; // Mobile
$color-2 : #fff1e6 ; // Tablet
$color-3 : #52b788 ; // Laptop
$color-4 : #bee1e6 ; // Desktop


// Mobile  -> 576px
// Tablet  -> 768px
// Laptop  -> 992px
// Desktop -> 1200px

$mobile:576px;
$tablet:768px;
$laptop:992px;
$desktop:1200px;

